p{
    color: navy;
    padding: 40px;
    border : 3px solid green;
}
h1{
    background-color: palegreen;
    color: white;
}
img{
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}